*{
    cursor: default;
}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
}
#clicke{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    z-index: 99999999;
    border: 2px solid black;
    box-shadow: 0 0 80px red;
    opacity: 0;
}